.profile-body {
  background-image: url("../images/profileBg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.profile-avatar {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 200px;
}

.profile-avatar__image {
  width: 100px;
  border-radius: 35%;
  margin-bottom: 15px;
}

.profile-avatar__name {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 8px;
}

.profile-avatar__status,
.profile-nav__title {
  font-weight: 300;
  opacity: 0.8;
  font-size: 12px;
}

.profile-nav {
  position: fixed;
  width: 100%;
  padding: 40px 50px;
  bottom: 10px;
  left: 0px;
  border-top: 0.5px solid #b3b3b3;
}

.profile-nav .profile-nav__list {
  display: flex;
  justify-content: space-between;
}

.profile-nav i {
  font-size: 25px;
  padding-bottom: 15px;
}

.profile-nav__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.profile-avatar {
  animation: float 6s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}
